@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* * root */
:root {
  --window: 1024px;
  --smCal: 300px;
  
  --main:   #385ca6;
  --hover: #17294F;
  --book:  #31bfff; 
  --reserved:   #8932ff;
  --stayed:   #28cc38;
  --stop:  #ffcb32;
  --cancel:   #ff4040;
  --silver: #dddddd;
  --input: #BFBFBF;
  --gray:   #888888;
  --black:  #444444;
  --white:  #f5f5f5;
  --trans: rgba(34,34,34,.7);
  --fz-lg: 20px;
  --fz-big:18px;
  --fz-md: 16px;
  --fz-base: 14px;
  --fz-sm: 12px;
  --gap-lg: 30px;
  --gap-big: 20px;
  --gap-md: 15px;
  --gap-sm: 10px;
  --shadow : 0px 0px 12px rgba(0, 0, 0, 0.1);
}

/* * reset */
* {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; -webkit-tap-highlight-color: transparent; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;}
ol,ul {list-style: none;} table {border-collapse: collapse; border-spacing: 0;} a {text-decoration: none; color: inherit;} em {font-style: normal;} img {vertical-align: top; outline: none;}
input,select,textarea,button,::placeholder {appearance: none; -webkit-appearance: none; outline: none; background: none; border: none; border-radius: 0; margin: 0; font-family: Pretendard, sans-serif;} ::placeholder {color: var(--input);}
button, select, option {color: var(--black);} button {cursor: pointer;}a:visited {background: none;}a:active {background: none;}br {font-family: 'Dotum';}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {background: transparent; background-clip: text; -webkit-background-clip: text;}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {background: #fff;}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {-webkit-text-fill-color: var(--gray); -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s;}
input:autofill,input:autofill:hover,input:autofill:focus,input:autofill:active {-webkit-text-fill-color: var(--gray); -webkit-box-shadow: 0 0 0px 1000px #fff inset; box-shadow: 0 0 0px 1000px #fff inset; transition: background-color 5000s ease-in-out 0s;}

/* * default */
body {position: relative; width: 100%; height: 100%; min-width: var(--window); font-family: Pretendard, sans-serif; font-size: var(--fz-base); line-height: 1; font-weight: 400; color: var(--black);}
::-webkit-scrollbar-track {border-radius: 8px; background: var(--silver);}
::-webkit-scrollbar {height: 4px; width: 4px; background-color: var(--silver);}
::-webkit-scrollbar-thumb {border-radius: 8px; background-color: var(--main);}
.fl {float: left;}
.fr {float: right;}
.clear:after {content: '';display: block;clear: both;}
.dpb {display: block;} .dib {display: inline-block;}

/* * flex */
.flex-center {display: flex; justify-content: center; align-items: center;}
.flex-end {display: flex; justify-content: flex-end; align-items: center;}

/* * font */
.ttu {text-transform: uppercase;}
.ttc {text-transform: capitalize;}
.tal {text-align: left;}
.tac {text-align: center;}
.tar {text-align: right;}
.fw100 {font-weight: 100;}
.fw200 {font-weight: 200;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw600 {font-weight: 600;}
.fw700 {font-weight: 700;}
.fw800 {font-weight: 800;}
.fw900 {font-weight: 900;}

/* * color */
.c-main   {color: var(--main);}
.c-book  {color: var(--book);}
.c-reserved   {color: var(--reserved);}
.c-stayed   {color: var(--stayed);}
.c-stop  {color: var(--stop);}
.c-cancel   {color: var(--cancel);}
.c-silver {color: var(--silver);}
.c-gray   {color: var(--gray);}
.c-black  {color: var(--black);}
.c-white  {color: var(--white);}
.bg-main   {background: var(--main);}
.bg-book  {background: var(--book);}
.bg-reserved   {background: var(--reserved);}
.bg-stayed   {background: var(--stayed);}
.bg-stop  {background: var(--stop);}
.bg-cancel   {background: var(--cancel);}
.bg-silver {background: var(--silver);}
.bg-gray   {background: var(--gray);}
.bg-black  {background: var(--black);}
.bg-white  {background: var(--white);}

/* * gap */
.section-end {margin: 30px 0; width: 100%; height: 1px; background: var(--silver);}
.section-gap {margin: 30px 0; width: 100%;}

.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}

.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb50 {margin-bottom: 50px;}