@import url(/css/reset.css);
/* * 제목 */
.tit-sec {font-size: var(--fz-lg); font-weight: 700; margin-bottom: var(--gap-big);}
.tit-sub {font-size: var(--fz-md); font-weight: 500; margin-bottom: var(--gap-md);}

/* * 섹션 간격 */
.mb-sec {margin-bottom: 50px; padding-bottom: var(--gap-lg); border-bottom: 1px solid var(--silver);}

/* * 버튼 */
.btn-center {display: flex; justify-content: center; align-items: center;}
.btn {padding: 5px 7px; border-radius: 6px; border: 1px solid var(--silver); transition: .4s;}
.btn-hover:hover {background: var(--main); color: #fff;}
.btn-lg {padding: 10px 15px;}

/* * input, select */
input {height: 24px; line-height: 24px; padding: 0 5px; border-bottom: 1px solid var(--input);}
input:disabled {background: var(--silver);}
select {height: 24px; background: url(/img/indic-select.png) no-repeat right 5px center / 8px 5px; border-bottom: 1px solid var(--input); padding: 0 25px 0 5px;}
textarea {border: 1px solid var(--input); border-radius: 6px; padding: 10px; resize: none; line-height: 1.2;}

/* * radio */
.radiobox {position: relative;}
.lb-radiobox {position: relative; padding-left: 15px; cursor: pointer; color: var(--silver); white-space: nowrap;}
.lb-radiobox:after {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 12px; height: 12px; border: 1px solid var(--silver); border-radius: 50%; box-sizing: border-box;}
.lb-radiobox:before {content: ''; position: absolute; left: 3px; top: 50%; transform: translateY(-50%); width: 6px; height: 6px; border-radius: 50%; background: var(--main); opacity: 0;}
.radiobox > input {position: absolute; width: 0; opacity: 0; visibility: hidden;}
.radiobox > input:checked + .lb-radiobox {color: var(--black);}
.radiobox > input:checked + .lb-radiobox:after {border-color: var(--main);}
.radiobox > input:checked + .lb-radiobox:before {opacity: 1;}
.radiobox > input:checked + .lb-radiobox input {color: var(--black);}
.lb-radiobox input {color: var(--silver);}

/* * checkbox */
.checkbox {position: relative;}
.lb-checkbox {position: relative; padding-left: 15px; cursor: pointer; white-space: nowrap;}
.lb-checkbox:after {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 12px; height: 12px; border: 1px solid var(--silver); border-radius: 2px; box-sizing: border-box;}
.lb-checkbox:before {content: '\f00c'; position: absolute; font-size: 10px; left: 2px; top: 50%; transform: translateY(-50%); font-family: 'Font Awesome 6 Pro'; color: #fff; z-index: 1; opacity: 0;}
.checkbox input {position: absolute; width: 0; opacity: 0; visibility: hidden;}
.checkbox input:checked + .lb-checkbox:after {border-color: var(--main); background: var(--main);}
.checkbox input:checked + .lb-checkbox:before {opacity: 1;}

/* * 달력 공통 */
.toastui-calendar-layout.toastui-calendar-month {border: 1px solid var(--silver);}
.toastui-calendar-day-names.toastui-calendar-month {padding: 0 !important;}

/* * 달력 fullCalendar */
#fullCalendar-wrap .fullCalendar-head {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: var(--gap-lg);}
#fullCalendar-wrap .fullCalendar-ctrl {display: flex; justify-content: flex-start; align-items: center;}
#fullCalendar-wrap .fullCalendar-ctrl h2 {font-size: var(--fz-lg); font-weight: 700; margin: 0 var(--gap-big);}
#fullCalendar-wrap .fullCalendar-ctrl button {padding: 5px 10px; border: 1px solid var(--silver); border-radius: 4px; transition: .4s;}
#fullCalendar-wrap .fullCalendar-ctrl #todayBtn {margin-left: var(--gap-md);}
#fullCalendar-wrap .fullCalendar-ctrl button:hover {background: var(--main); color: #fff;}
#fullCalendar-wrap .fullCalendar-status span {padding-left: 15px; position: relative; display: inline-block; margin-left: 10px;}
#fullCalendar-wrap .fullCalendar-status span:after {content: ''; position: absolute; width: 12px; height: 12px; left: 0; top: 50%; transform: translateY(-50%);}
#fullCalendar-wrap .fullCalendar-status span.c-book:after {background: var(--book);}
#fullCalendar-wrap .fullCalendar-status span.c-reserved:after {background: var(--reserved);}
#fullCalendar-wrap .fullCalendar-status span.c-stayed:after {background: var(--stayed);}
#fullCalendar-wrap .fullCalendar-status span.c-stop:after {background: var(--stop);}
#fullCalendar-wrap .fullCalendar-status span.c-cancel:after {background: var(--cancel);}
#fullCalendar-wrap .toastui-calendar-day-name-item.toastui-calendar-month {font-size: var(--fz-base); font-weight: 700;}

/* * 달력 smCalendar */
#smCalendar-wrap .smCalendar-ctrl {display: flex; justify-content: space-between; align-items: center; position: relative; margin-bottom: var(--gap-md);}
#smCalendar-wrap .smCalendar-ctrl #currentYearMonth {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: var(--fz-lg); font-weight: 700;}
#smCalendar-wrap .smCalendar-ctrl button {padding: 5px 10px; border: 1px solid var(--silver); border-radius: 4px; transition: .4s;}
#smCalendar-wrap .smCalendar-ctrl button:hover {background: var(--main); color: #fff;}
#smCalendar-wrap .toastui-calendar-day-name-item.toastui-calendar-month {text-align: center;}
#smCalendar-wrap .toastui-calendar-daygrid-cell {display: flex; justify-content: center; align-items: center;}
#smCalendar-wrap .toastui-calendar-grid-cell-header {height: 100% !important; display: flex; justify-content: center; align-items: center;}
#smCalendar-wrap .toastui-calendar-grid-cell-date {display: flex; justify-content: center; align-items: center;}

/* * 표 fullTable */
.fullTable {table-layout: fixed; width: 100%;}
.fullTable thead tr {border-bottom: 2px solid var(--gray);}
.fullTable thead th {padding: 10px 0; font-weight: 500;}
.fullTable tbody tr {border-bottom: 1px solid var(--silver);}
.fullTable tbody td {padding: 10px 5px; vertical-align: middle; text-align: center;}

/* * 모달 */
.modal {position: fixed; z-index: 990; left: 0; right: 0; top: 0; bottom: 0; display: none;}
.modal.modalOn {display: block;}
.modal-back {position: absolute; left: 0; right: 0; top: 0; bottom: 0; background: var(--trans);}
.modal-wrap {position: absolute; left: 50%; top: 50%; min-width: 350px; min-height: 200px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding: 30px; transform: translate(-50%,-50%); border-radius: 12px; background: var(--white);}
.modal-close {position: absolute; right: 15px; top: 15px; font-size: var(--fz-lg); cursor: pointer;}
.modal-content {text-align: center; padding-top: 30px;}
.modal-btns {width: 100%; display: flex; justify-content: space-between; align-items: center;}
.modal-btns button { margin: 0 5px; text-align: center; flex: 1;}
.btn-big {margin-top: 5px; padding: 10px; border-radius: 4px; border: 1px solid var(--main); color: var(--main); transition: .4s;}
.btn-big:hover {transform: translateY(-4px); box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}
.btn-default {background: var(--main); color: #fff;}

/* * 페이지네이션 */
.pagination {display: flex; justify-content: center; align-items: center;}
.pagination li {padding: 3px 5px;}